nav{
    display: flex;
}
.bannerTop{
    flex: none;
    display: flex;
    height: 300PX;
    max-height: 30%;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
.bannerBox{
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bannerContent{
    flex: none;
    text-align: center;
    font-size: 8vmin;    
    color: black;
}