<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/bannerTop.css" type="text/css">
    <link rel="stylesheet" href="../static/style/main.css" type="text/css">
</head>

<body>
    <nav>
        <div class="bannerTop">
            <div class="bannerBox">
                <div class="bannerContent">
                    會員中心登入介面
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="signInBox">
            {{message_template}}
            <form action="">
                <div class="signButton" id="backHone">
                    <input type="button" style="width:40%;" value="請重新登入" onclick="window.location='/'">
                </div>
            </form>
        </div>

    </main>

</body>

</html>