<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../static/style/bannerTop.css" type="text/css">
    <link rel="stylesheet" href="../static/style/main.css" type="text/css"> -->
    <link rel="stylesheet" href="../static/style/bannerTop.css" type="text/css">
    <link rel="stylesheet" href="../static/style/main.css" type="text/css">
</head>

<body>
    <nav>
        <div class="bannerTop">
            <div class="bannerBox">
                <div class="bannerContent">
                    會員中心登入介面
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="userTable">
            <div class="signUpBox">
                <form action="/signup" method="POST">
                    <div class="userInfo" style="padding: 5px;">
                        姓名:
                        <input type="text" id="signup_Name" name="name" style="width:80%;" placeholder="請輸入真實姓名"
                            required>
                    </div>
                    <div class="userInfo" style="padding: 5px;">
                        帳號:
                        <input type="text" id="signup_Account" name="account" style="width:80%;" placeholder="請輸入帳號"
                            required>
                    </div>
                    <div class="userInfo" style="padding: 5px;">
                        密碼:
                        <input type="password" id="signup_Password" name="password" style="width: 80%;"
                            placeholder="請輸入密碼" required>
                    </div>
                    <div class="signButton">
                        <!-- <input type="button" style="width:40%;" value="登入" onclick="javascript:location.href='user'"> -->
                        <button>註冊</button>
                    </div>
                </form>
            </div>
            <div class="signInBox">
                <form action="/signin" method="POST">
                    <div class="userInfo" style="padding: 5px;">
                        帳號:
                        <input type="text" id="account" name="account" style="width:80%;" placeholder="請輸入帳號" required>
                    </div>
                    <div class="userInfo" style="padding: 5px;">
                        密碼:
                        <input type="password" id="password" name="password" style="width: 80%;" placeholder="請輸入密碼"
                            required>
                    </div>
                    <div class="signButton" style="padding: 5px;">
                        <!-- <input type="button" style="width:40%;" value="登入" onclick="javascript:location.href='user'"> -->
                        <button>登入</button>
                    </div>
                </form>
            </div>

        </div>


    </main>

</body>

</html>